version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Root2025!@#
      MYSQL_DATABASE: chef_game
      MYSQL_USER: chef_user
      MYSQL_PASSWORD: ChefGameUser2025!@#
      TZ: UTC
    ports:
      - "3306:3306"
    volumes:
      - ./data:/var/lib/mysql
      - ./conf:/etc/mysql/conf.d
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    networks:
      - mysql-network


networks:
  mysql-network:
    driver: bridge